<!-- nav -->
<nav class="navbar navbar-expand navbar-light bg-light"style="background-color: #e01515;">
  <div class="navbar-nav">
    <a class="nav-item nav-link" style="background-color: #e01515;" routerLink="/">Home</a>
    <a class="nav-item nav-link" style="background-color: #e01515;" routerLink="/gameschedule">Spielplan</a>
    <a class="nav-item nav-link" style="background-color:#e01515;" routerLink="/table">Tabelle</a>
    <a class="nav-item nav-link" style="background-color: #e01515;" routerLink="/clubs">Clubs</a>
    <a class="nav-item nav-link" style="background-color: #e01515;" routerLink="/admin">Admin</a>
  </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>


